/******************************
MAIN
*******************************/


body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

input[type="text"] {
  height: 75px;
  width: 220px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  border-radius: 20px;
  margin-left: 8%;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus {
  border: solid 1px #9A5DD2;
  box-shadow: 0 0 5px 1px #9A5DD2;
  outline: none; 
}

.status {
  display: none;
  text-align: center;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 0; 
}

#buttons {
  width: 165px;
  margin: 5% 20% 10% 20%;
}
button {
  outline: none;
}

.submit {
  width: 157px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  background-color: #BADA55;
  color: #fff;
}
.submit:focus {
  box-shadow: 0 0 9px 3px #9A5DD2;
}
.again {
  width: 92px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgba(175, 0, 214, 1);
  color: #fff;
}
.again:focus {
  box-shadow: 0 0 9px 3px #BADA55;
}

.hint {
  width: 58px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgba(175, 0, 214, 1);
  color: #fff;
  float: right;
}
.hint:focus {
  box-shadow: 0 0 9px 3px #BADA55;
}

/******************************
HEADER
*******************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  margin: 15px 0;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 5px;
  font-weight: normal;
}

h3 {
  margin: 0 0 1em 0;
}



/******************************
FOOTER
*******************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 30px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



/******************************
COLORS
******************************

/* site body */
body {
  background-color: #A4A4A4;
  color: #999;
}

/* header */
header {
  background: #B05DC8;
  border-color: #599a68;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #6ab47b;
}
